.container-menu-item .item {
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 0;
  transition: 0.3s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.container-menu-item .item:hover {
  border-right: 2px solid #ffffff;
  border-radius: 0;
}

.container-menu-item .link {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
  margin-left: 15px;
  letter-spacing: 1px;
}
