.btn-active {
  border: none;
}

.btn-disabled {
  background-color: transparent;
  border: none;
}

.general-container .main-disabled .box-informations-campus {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  animation: fadeBoxs 1s 1s backwards;
}

.general-container .main-disabled .box-informations-campus .box:nth-child(1) {
  width: 285px;
  height: 110px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  background-image: linear-gradient(to right, #6A11CB, rgb(77, 7, 151));
}
.general-container .main-disabled .box-informations-campus .box:nth-child(2) {
  width: 285px;
  height: 110px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  background-image: linear-gradient(to right, #FF5858, #F09819);
}

.general-container .main-disabled .box-informations-campus .box:nth-child(3) {
  width: 285px;
  height: 110px;
  border-radius: 8px;
  padding: 10px;
  display: flex;
  background-image: linear-gradient(to right, #029471, #00E3AE);
}

.general-container .main-disabled .box-informations-campus
.box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.main-disabled  .box-informations-campus .box .informations {
  width: 200px;
  height: 100px;
}

.main-disabled  .box-informations-campus .box .informations .information {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.main-disabled  .box-informations-campus .box .informations .total {
  color: #ffffff;
  font-size: 50px;
  margin-top: 10%;
}

.main-disabled  .box-informations-campus .box .box-icon {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.general-container .main-disabled .lists {
  display: flex;
  height: 100%;

}

.general-container .main-disabled .lists .list-places {
  width: 50%;
  height: 100%;
}

.lists .list-places .place{
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  margin-top: 8px;
  padding: 0 15px 0 15px;
  background-color: #d4cdeb;
  animation: fadeList 1s 1s linear backwards;
}

.general-container .main-disabled .lists .list-demands {
  width: 50%;
  height: 100%;
}

.lists .list-demands .demand {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  margin-top: 8px;
  padding: 0 15px 0 15px;
  background-color: #d4cdeb;
  animation: fadeList 1s 1s linear backwards;
}

.general-container .main-disabled ul li.place:hover, li.demand:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #ffffff;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(98, 0, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(98, 0, 255, 0.4);
}

.general-container .main-disabled ul li .new-registers {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}

.main ul li .new-registers .name-campus, .date-register {
  color: #ffffff;
}

/*Main active*/

.general-container .main-active .box-informations-campus {
  width: 100%;
  display: flex;
  justify-content: space-around;
  animation: fadeBoxs 1s 1s backwards;
}

.general-container .main-active .box-informations-campus .box:nth-child(1) {
  width: 300px;
  height: 110px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #6A11CB, #3316FD);
}
.general-container .main-active .box-informations-campus .box:nth-child(2) {
  width: 300px;
  height: 110px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #FF5858, #F09819);
}

.general-container .main-active .box-informations-campus .box:nth-child(3) {
  width: 300px;
  height: 110px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #029471, #00E3AE);
}

.general-container .main-active .box-informations-campus
.box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.main-active  .box-informations-campus .box .informations {
  width: 200px;
  height: 100px;
}

.main-active  .box-informations-campus .box .informations .information {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}

.main-active  .box-informations-campus .box .informations .total {
  color: #ffffff;
  font-size: 50px;
  margin-top: 5%;
}

.main-active  .box-informations-campus .box .box-icon {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.main-active  .box-informations-campus .box .box-icon img {
  width: 50%;
}

.general-container .main-active .lists {
  display: flex;
  height: 100%;

}

.general-container .main-active .lists .list-places {
  width: 50%;
  height: 100%;
}

.lists .list-places .place{
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  margin-top: 8px;
  padding: 0 15px 0 15px;
  background-color: #d4cdeb;
  animation: fadeList 1s 1s linear backwards;
}

.general-container .main-active .lists .list-demands {
  width: 50%;
  height: 100%;
}

.lists .list-demands .demand {
  width: 100%;
  height: 50px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  margin-top: 8px;
  padding: 0 15px 0 15px;
  background-color: #d4cdeb;
  animation: fadeList 1s 1s linear backwards;
}

.general-container .main-active ul li.place:hover, li.demand:hover {
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #ffffff;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.general-container .main-active ul li:hover{
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #ffffff;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.general-container .main-active ul li .new-registers {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}

.main ul li .new-registers .name-campus, .date-register {
  color: #ffffff;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(98, 0, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(98, 0, 255, 0.4);
}


@media(max-width: 768px){
  .general-container .main-disabled .box-informations-campus {
    width: 100%;
    display: flex;
    margin: 5% 0 8% 0;
    justify-content: space-evenly;
    animation: fadeBoxs 1s 1s backwards;
  }

  .general-container .main-disabled .box-informations-campus .box:nth-child(1) {
    width: 218px;
    height: 180px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }
  .general-container .main-disabled .box-informations-campus .box:nth-child(2) {
    width: 218px;
    height: 180px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-disabled .box-informations-campus .box:nth-child(3) {
    width: 218px;
    height: 180px;
    border-radius: 8px;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-disabled .box-informations-campus
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .general-container .main-disabled .box-informations-campus .box {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .main-disabled .box-informations-campus .box .informations {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-disabled .box-informations-campus .box .informations .information {
    color: #ffffff;
    font-size: 23px;
    font-weight: 500;
  }

  .main-disabled .box-informations-campus .box .informations .total {
    color: #ffffff;
    font-size: 80px;
  }

  .main-disabled .box-informations-campus .box .box-icon {
    display: none;
  }

  .main-disabled .box-informations-campus .box .box-icon img {
    width: 50%;
  }

  .general-container .main-disabled .lists {
    display: flex;
    height: 100%;
  }

  .general-container .main-disabled .lists .list-places {
    width: 100%;
    height: 100%;
  }

  .lists .list-places .place{
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-top: 8px;
    padding: 0 15px 0 15px;
    background-color: #d4cdeb;
    animation: fadeList 1s 1s linear backwards;
  }

  .general-container .main-disabled .lists .list-demands {
    width: 100%;
    height: 100%;
  }

  .lists .list-demands .demand {
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-top: 8px;
    padding: 0 15px 0 15px;
    background-color: #d4cdeb;
    animation: fadeList 1s 1s linear backwards;
  }

  .general-container .main-disabled ul li.place:hover, li.demand:hover {
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-disabled ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(98, 0, 255, 0.4);
  }



  /*Main active*/

  .general-container .main-active .box-informations-campus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeBoxs 1s 1s backwards;
  }

  .general-container .main-active .box-informations-campus .box:nth-child(1) {
    width: 440px;
    height: 130px;
    border-radius: 8px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }
  .general-container .main-active .box-informations-campus .box:nth-child(2) {
    width: 440px;
    height: 130px;
    margin-bottom: 5%;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-active .box-informations-campus .box:nth-child(3) {
    width: 440px;
    height: 130px;
    border-radius: 8px;
    margin-bottom: 5%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-active .box-informations-campus
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .general-container .main-active .box-informations-campus .box  {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .main-active .box-informations-campus .box .informations {
    width: 50%;
  }

  .main-active .box-informations-campus .box .informations .information {
    color: #ffffff;
    font-size: 24px;
  }

  .main-active .box-informations-campus .box .informations .total {
    color: #ffffff;
    font-size: 50px;
    margin-top: 10%;
  }

  .general-container .main-active .box-icon {
    width: 50%;
    display: flex;
    margin-right: 5%;
    justify-content: flex-end;
  }

  .general-container .main-active ul {
    width: 100%;
    height: 35%;
    margin-top: 3%;
    overflow-y: auto;
    padding: 0px 30px 0 30px;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(98, 0, 255, 0.4);
  }

  .general-container .main-active ul li{
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-top: 8px;
    padding: 0 15px 0 15px;
    background-color: #111014;
    animation: fadeList 1s 1s linear backwards;
  }

  .general-container .main-active ul li:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-active ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }
}

@media(max-width: 480px){
  .general-container .main-disabled {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .general-container .main-disabled .box-informations-campus {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .general-container .main-disabled .box-informations-campus .box:nth-child(1) {
    width: 300px;
    height: 120px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }

  .general-container .main-disabled .box-informations-campus .box:nth-child(2) {
    width: 300px;
    height: 120px;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-disabled .box-informations-campus .box:nth-child(3) {
    width: 300px;
    height: 120px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-disabled .box-informations-campus
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .box-informations-campus .box .informations {
    width: 120px;
    height: 100px;
  }

  .main-disabled .box-informations-campus .box .informations .information {
    color: #ffffff;
    font-size: 24px;
  }

  .main-disabled .box-informations-campus .box .informations .total {
    color: #ffffff;
    font-size: 60px;
    margin-top: 2%;
  }

  .general-container .main-disabled .lists {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .general-container .main-disabled .lists .list-places {
    width: 100%;
    height: 25%;
  }

  .general-container .main-disabled .lists .list-places ul {
    height: 80%;
  }

  .lists .list-places .place{
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-top: 8px;
    padding: 0 15px 0 15px;
    background-color: #d4cdeb;
    animation: fadeList 1s 1s linear backwards;
  }

  .general-container .main-disabled .lists .list-demands {
    width: 100%;
    height: 25%;
  }

  .general-container .main-disabled .lists .list-demands ul {
    height: 80%;
  }

  .lists .list-demands .demand {
    width: 100%;
    height: 50px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    margin-top: 8px;
    padding: 0 15px 0 15px;
    background-color: #d4cdeb;
    animation: fadeList 1s 1s linear backwards;
  }

  .general-container .main-disabled ul li.place:hover, li.demand:hover {
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-disabled ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(98, 0, 255, 0.4);
  }
}

@keyframes fadeBoxs {
  from {
    transform: translateX(1000px);
  }to {

    transform: translateX(0);
  }
}

@keyframes fadeList {
  from {
    transform: translateY(-700px);
  }to {

    transform: translateY(0);
  }
}
