.container-content-active {
  width: 100%;
  overflow: hidden;
}

.container-content-disabled {
  width: 80%;
  overflow: hidden;
}

@media(max-width: 768px){
  .container-content-disabled {
    width: 100%;
    overflow: hidden;
  }
}
