.general-container .btn-active {
  background-color: transparent;
  border: none;
}

.general-container .btn-disabled {
  background-color: transparent;
  border: none;
  margin-left: 95px;
}

.general-container .main-disabled {
  width: 100%;
  height: 100%;
}

.general-container .main-disabled .description-page {
  width: 100%;
  height: 40px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.general-container .main-disabled .description-page .informative {
  color: #ffffff;
  font-size: 15px;
  margin-left: 32px;
  animation: fadeInformative 1s 1s forwards;
}


.general-container .main-disabled .description-page .description {
  font-size: 18px;
  color: #ffffff;
  margin-left: 32px;
  margin-bottom: 10px;
  animation: fadeDescription 1s 1s forwards;
}

.general-container .main-disabled .box-informations {
  width: 100%;
  padding: 0;
  display: flex;
  margin-left: 32px;
  animation: fadeBoxs 1s 1s backwards;
}

.general-container .main-disabled .box-informations .box:nth-child(1) {
  width: 280px;
  height: 120px;
  margin-right: 32px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #6A11CB, #3316FD);
}
.general-container .main-disabled .box-informations .box:nth-child(2) {
  width: 280px;
  height: 120px;
  margin-right: 32px;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #FF5858, #F09819);
}

.general-container .main-disabled .box-informations .box:nth-child(3) {
  width: 280px;
  height: 120px;
  margin-right: 32px;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #029471, #00E3AE);
}

.general-container .main-disabled .box-informations
.box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.box-informations .box .informations {
  width: 150px;
  height: 100px;
}

.box-informations .box .informations .information {
  color: #ffffff;
  font-size: 18px;
}

.box-informations .box .informations .total {
  color: #ffffff;
  font-size: 45px;
  margin-top: 10%;
}

.general-container .main-disabled ul {
  width: 100%;
  height: 32%;
  margin-top: 3%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(98, 0, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(98, 0, 255, 0.4);
}

.general-container .main-disabled ul li{
  max-width: 91%;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  padding: 0 40px 0 20px;
  margin: 0 0px 10px 32px;
  background-color: #111014;
  animation: fadeList 1s 1s linear backwards;
}

.general-container .main-disabled ul li:hover{
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #ffffff;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.general-container .main-disabled ul li .new-registers {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}

.main ul li .new-registers .name-campus, .date-register {
  color: #ffffff;
}

/*Toggle active*/
.general-container .main-active {
  width: 100%;
  height: 100%;
  padding: 0 75px 0 95px;
}

.general-container .main-active .description-page {
  width: 100%;
  height: 40px;
  margin-top: 2%;
  display: flex;
  flex-direction: column;
}

.general-container .main-active .description-page .informative {
  color: #ffffff;
  font-size: 15px;
  margin-left: 32px;
}


.general-container .main-active .description-page .description {
  font-size: 18px;
  color: #ffffff;
  margin-left: 32px;
  margin-bottom: 10px;
}

.general-container .main-active .box-informations {
  width: 98%;
  padding: 0;
  display: flex;
  margin-left: 32px;
}

.general-container .main-active .box-informations .box:nth-child(1) {
  width: 295px;
  height: 130px;
  margin-right: 5%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #6A11CB, #3316FD);
}
.general-container .main-active .box-informations .box:nth-child(2) {
  width: 295px;
  height: 130px;
  margin-right: 5%;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #FF5858, #F09819);
}

.general-container .main-active .box-informations .box:nth-child(3) {
  width: 295px;
  height: 130px;
  margin-right: 5%;
  border-radius: 8px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #029471, #00E3AE);
}

.general-container .main-active .box-informations
.box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.box-informations .box .informations {
  width: 180px;
  height: 100px;
}

.box-informations .box .informations .information {
  color: #ffffff;
  font-size: 20px;
}

.box-informations .box .informations .total {
  color: #ffffff;
  font-size: 45px;
  margin-top: 2%;
}

.general-container .main-active ul {
  width: 100%;
  height: 32%;
  margin-top: 4%;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(98, 0, 255, 0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive {
background: rgba(98, 0, 255, 0.4);
}

.general-container .main-active ul li{
  max-width: 93%;
  height: 40px;
  display: flex;
  cursor: pointer;
  border-radius: 8px;
  align-items: center;
  padding: 0 40px 0 60px;
  margin: 0 0px 10px 32px;
  background-color: #111014;
}

.general-container .main-active ul li:hover{
  cursor: pointer;
  transform: scale(1.01);
  border: 1px solid #ffffff;
  transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
}

.general-container .main-active ul li .new-registers {
  width: 100%;
  display: flex;
  color: #ffffff;
  justify-content: space-between;
}

.main ul li .new-registers .name-campus, .date-register {
  color: #ffffff;
}

@media(max-width: 768px){
  .general-container .btn-active {
    background-color: transparent;
    border: none;
  }

  .general-container .btn-disabled {
    background-color: transparent;
    border: none;
    margin-left: 300px;
  }

  .general-container .main-disabled {
    width: 100%;
    height: 100%;
  }

  .general-container .main-active .description-page .description {
    font-size: 18px;
    color: #ffffff;
    margin-left: 32px;
    margin-bottom: 10px;
  }

  .general-container .main-disabled .box-informations {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .general-container .main-disabled .box-informations .box:nth-child(1) {
    width: 210px;
    height: 120px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }

  .general-container .main-disabled .box-informations .box:nth-child(2) {
    width: 210px;
    height: 120px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-disabled .box-informations .box:nth-child(3) {
    width: 210px;
    height: 120px;
    margin-bottom: 20px;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-disabled .box-informations
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .box-informations .box .informations {
    width: 120px;
    height: 100px;
  }

  .main-disabled .box-informations .box .informations .information {
    color: #ffffff;
    font-size: 18px;
  }

  .main-disabled .box-informations .box .informations .total {
    color: #ffffff;
    font-size: 45px;
    margin-top: 10%;
  }

  .general-container .main-disabled ul {
    width: 100%;
    height: 32%;
    margin-top: 4%;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(98, 0, 255, 0.4);
  }

  .general-container .main-disabled ul li{
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    padding: 0 40px 0 20px;
    margin: 0px 0px 10px 32px;
    background-color: #111014;
  }

  .general-container .main-disabled ul li:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-disabled ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }

/*active toggle*/
  .general-container .btn-active {
    background-color: transparent;
    border: none;
  }

  .general-container .btn-disabled {
    background-color: transparent;
    border: none;
    margin-left: 210px;
  }

  .general-container .main-active {
    width: 100%;
    height: 100%;
    padding: 0 75px 0 10px;
  }

  .general-container .main-active .description-page {
    width: 100%;
    height: 40px;
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }

  .general-container .main-active .description-page .description {
    font-size: 24px;
    color: #ffffff;
    margin-left: 32px;
    margin-bottom: 10px;
  }

  .general-container .main-active .description-page .informative {
    color: #ffffff;
    font-size: 18px;
    margin-left: 32px;
  }

  .general-container .main-active .box-informations {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .general-container .main-active .box-informations .box:nth-child(1) {
    width: 100%;
    height: 140px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }
  .general-container .main-active .box-informations .box:nth-child(2) {
    width: 100%;
    height: 140px;
    margin-bottom: 5%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-active .box-informations .box:nth-child(3) {
    width: 100%;
    height: 140px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-active .box-informations
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .box-informations .box .informations {
    width: 250px;
    height: 100px;
  }

  .box-informations .box .informations .information {
    color: #ffffff;
    font-size: 32px;
  }

  .box-informations .box .informations .total {
    color: #ffffff;
    font-size: 45px;
    margin-top: 2%;
  }

  .general-container .main-active ul {
    width: 107%;
    height: 32%;
    margin-top: 8%;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(98, 0, 255, 0.4);
  }

  .general-container .main-active ul li{
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    padding: 0 40px 0 20px;
    margin: 0 0 10px 32px;
    background-color: #111014;
  }

  .general-container .main-active ul li:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-active ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }
}


@media(max-width: 480px){
  .general-container .main-disabled {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  .general-container .main-active .description-page .description {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
  }

  .general-container .main-disabled .box-informations {
    width: 100%;
    display: flex;
    padding-right: 18%;
    flex-direction: column;
  }

  .general-container .main-disabled .box-informations .box:nth-child(1) {
    width: 100%;
    height: 120px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #6A11CB, #3316FD);
  }

  .general-container .main-disabled .box-informations .box:nth-child(2) {
    width: 100%;
    height: 120px;
    margin-bottom: 5%;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #FF5858, #F09819);
  }

  .general-container .main-disabled .box-informations .box:nth-child(3) {
    width: 100%;
    height: 120px;
    margin-bottom: 5%;
    border-radius: 8px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to right, #029471, #00E3AE);
  }

  .general-container .main-disabled .box-informations
  .box:nth-child(1):hover, .box:nth-child(2):hover, .box:nth-child(3):hover {
    transform: scale(1.03);
    transition: 0.5s;
  }

  .box-informations .box .informations {
    width: 120px;
    height: 100px;
  }

  .main-disabled .box-informations .box .informations .information {
    color: #ffffff;
    font-size: 18px;
  }

  .main-disabled .box-informations .box .informations .total {
    color: #ffffff;
    font-size: 45px;
    margin-top: 10%;
  }

  .general-container .main-disabled ul {
    width: 93%;
    height: 32%;
    margin-top: 4%;
    overflow-y: auto;
  }

  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(98, 0, 255, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
  }
  ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(98, 0, 255, 0.4);
  }

  .general-container .main-disabled ul li{
    width: 100%;
    height: 40px;
    display: flex;
    cursor: pointer;
    border-radius: 8px;
    align-items: center;
    padding: 0 40px 0 20px;
    margin: 0px 0px 10px 32px;
    background-color: #111014;
  }

  .general-container .main-disabled ul li:hover{
    cursor: pointer;
    transform: scale(1.01);
    border: 1px solid #ffffff;
    transition: 0.1s cubic-bezier(0.77, 0, 0.175, 1);
  }

  .general-container .main-disabled ul li .new-registers {
    width: 100%;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
  }

  .main ul li .new-registers .name-campus, .date-register {
    color: #ffffff;
  }

  /**/

  .general-container .main-active {
    width: 100%;
    height: 100%;
    padding: 0 75px 0 10px;
  }

  .general-container .main-active .description-page {
    width: 100%;
    height: 40px;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
  }

  .general-container .main-active .description-page .description {
    font-size: 24px;
    color: #ffffff;
    margin-left: 32px;
    margin-bottom: 10px;
  }

  .general-container .main-active .description-page .informative {
    color: #ffffff;
    font-size: 18px;
    margin-left: 32px;
  }

  .general-container .main-active .box-informations {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

}

@keyframes fadeInformative {
  from {
    transform: translatey(300px);
    opacity: 0;
  }to {

    transform: translatey(0);
    opacity: 1;
  }
}

@keyframes fadeDescription {
  from {
    transform: translateY(300px);
    opacity: 0;
  }to {

    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeBoxs {
  from {
    transform: translateX(1000px);
  }to {

    transform: translateX(0);
  }
}

@keyframes fadeList {
  from {
    transform: translateY(-700px);
  }to {

    transform: translateY(0);
  }
}
